@charset "ISO-8859-1";

body{
	background:#ffffff;
}
*{
  margin:0px;
  padding:0px;
  font-family:sans-serif; 
}
.col-md-12{
	display:contents;
}
.curved{
	bottom:0px;
	position:absolute;
	height:40%;
	width:100%;
}
.profile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
} 
.profile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.nav-tabs{
    margin-bottom:5%;
}
#myTab .nav-link{
    font-weight:600;
    color:#FF5500;
}
#myTab .nav-link.active{
	color:#495057;/* 
    border: none;
    border-bottom:2px solid #c65102; */
}
label{
    font-weight: 600;
}
#btn{
	border:1px solid #FF5500;
	color:#FF5500;
	background:#ffffff;
}
#btn:hover{
	background:#ff5500;
	color:#ffffff;
}
#btn a{
	color:#ff5500;
	text-decoration: none;
} 
#btn a:hover{
	color:#ffffff;
}


