@charset "ISO-8859-1";
/* #topbar{
	top:5px;
	border-bottom:8px solid #000000;
	position:fixed;
	width:100%;
	height:50px;
	background:#FFFFFF;
}
#topbar ul li {
	color:#000000;
	list-style:none;
	padding:15px 10px;
	border: 1px solid #000000;
	background:#FFFFFF;
	display:inline-block;
}
#topbar ul li a{
	color:#000000;
	font-size:18px;
	background:rgb(0, 0, 0, 0); 
	text-decoration:none;
	transition:.3s;
}
#topbar ul li:hover{
	background-color:rgb(0, 0, 0); 
	color:#FFFFFF; 
	font-size: 20px;
}
#topbar ul li a:hover{
	color:#FFFFFF; 
	font-size:20px;
}
#personalInfo{
	top:100px;
	position: absolute;
	font-family:sans-serif;
	font-size:18px;
}

hr{
	margin-top:5px; 
	margin-bottom:-10px;
}
#personalInfo div{
	margin-top:20px;
}

#personalInfo input{
	border:none;
	font-family:sans-serif;
	font-size:22px;
}
 */


#page{
	background: rgb(0,0,0,0);
    /* background: -webkit-linear-gradient(left, #3931af, #00c6ff); */
}
form{
	background:rgb(0,0,0,0);
}
h1 {
	margin-left: 350px;
}
/* .emp-profile{
	left:100px;
	position:absolute;
    padding: 3%; 
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background:red;
} */
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
    font-size: 25px;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
