@charset "ISO-8859-1";
#createGroupBtn{
	border:1px solid #FF5500;
	color:#FF5500;
	background:#ffffff;
}
#createGroupBtn:hover{
	background:#ff5500;
	color:#ffffff;
}
#createGroupBtn a{
	color:#ff5500;
	text-decoration: none;
} 
#createGroupBtn a:hover{
	color:#ffffff;
}
#addToGroup{
	border:1px solid #FF5500;
	color:#FF5500;
	background:#ffffff;
}
#addToGroup:hover{
	background:#ff5500;
	color:#ffffff;
}
#addToGroup a{
	color:#ff5500;
	text-decoration: none;
} 
#addToGroup a:hover{
	color:#ffffff;
}
#reviewBtn{
	border:1px solid #FF5500;
	color:#FF5500;
	background:#ffffff;
}
#reviewBtn:hover{
	background:#ff5500;
	color:#ffffff;
}
#reviewBtn a{
	color:#ff5500;
	text-decoration: none;
} 
#reviewBtn a:hover{
	color:#ffffff;
}

