@charset "ISO-8859-1";
body{
	width: 100vw;
	height:100vh;
	margin:0;
	overflow: hidden;
	font-family: sans-serif;
}
h5 a{
	color:#000000;
}
h5 a:hover{
	color:#ff5500;
}
.curved.upper{
	background:#FF5500;
}
.curved.upper svg{
	margin-bottom:0px;
	display:block;
}



