@charset "ISO-8859-1";
*{
  margin:0px;
  padding:0px;
  font-family:sans-serif; 
  background:#FFFFFF;	
}

#sidebar{
	position:fixed;
	width:200px;
	height:100%;
	background:rgb(0, 0, 0);
	left: -200px;
	transition: .4s;
}

#sidebar.active {
	left:0px;
	background:#000000;
}

#sidebar ul li {
	color:#FFFFFF;
	list-style:none;
	padding:15px 10px;
	border-bottom: 1px solid #000000;
	background:#000000;
}

/* #sidebar rectangle {
	position:absolute;
	left:500px;
	width:90px;
	height:1000px;
	background:#FFFFFF;
} */

#sidebar .toggle-btn {
	position:absolute;
	left:230px;
	top:20px;
}

#sidebar .toggle-btn span {
	display:block;
	width:30px;
	height:5px;
	background: #000000;
	margin: 3px 0px;
}
#page{
	left: 90px;
}
#page.active{
	left: 290;
}