@charset "ISO-8859-1";
body{
	background:#ffffff;
}
*{
  margin:0px;
  padding:0px;
  font-family:sans-serif; 
}
#createBtn{
	border:1px solid #FF5500;
	color:#FF5500;
	background:#ffffff;
}
#createBtn:hover{
	background:#ff5500;
	color:#ffffff;
}
#createBtn a{
	color:#ff5500;
	text-decoration: none;
} 
#createBtn a:hover{
	color:#ffffff;
}
