@charset "ISO-8859-1";
body{
	background:#ffffff;
}
*{
  margin:0px;
  padding:0px;
  font-family:sans-serif; 
}
.container.head-profile{
	left:350px;
	top:20px;
	position:absolute;
}

#tab{
	left:60px;
	position:absolute;
}
#home{
	left:60px;
	position:absolute;
	top:60px;
}
.card{
	width:500px;
}
.card-header{
	font-weight:600;
	text-align:center;
}
.card-body label{
	font-weight:600;
}
.card{
	min-height:160px;
	max-height:160px;
}