@charset "ISO-8859-1";
body{
	background:#ffffff;
}
*{
  margin:0px;
  padding:0px;
  font-family:sans-serif; 
}

#sidebar{
	position:fixed;
	width:200px;
	height:100%;
	background:#373d39;
	left: -200px;
	transition: .4s;
}

#sidebar.active {
	left:0px;
	background:#373d39;
}

#sidebar ul li {
	color:#ffffff;
	list-style:none;
	padding:15px 10px;
	/* border-bottom: 1px solid #FF5500; */
	
}
#sidebar ul li a{
	color:#ffffff;
	background:rgb(0,0,0,0);
	text-decoration:none;
}
#sidebar ul li:hover{
	background-color: #121413;
}
#sidebar ul li a:hover{
	background-color: #121413;
}

#sidebar .toggle-btn {
	position:absolute; 
	left:230px;
	top:60px; 
}

#sidebar .toggle-btn span {
	display:block;
	width:30px;
	height:5px;
	background: #000000;
	margin: 3px 0px;
}
.curved{
	bottom:0px;
	position:absolute;
	height:40%;
	width:100%;
}

.container.head-profile{
	left:350px;
	top:20px;
	position:absolute;
}

#tab{
	left:60px;
	position:absolute;
}
#home{
	left:60px;
	position:absolute;
	top:60px;
}


.card{
	width:500px;
}

/* #res-btn{
	border: none;
    border-radius: 1.5rem;
    width:45%;
    padding: 1%;
    font-weight: 600;
    color: #495057;
    cursor: pointer;
    transition:.4s;
}
#res-btn a{
	text-decoration: none;
	border: none;
	color:#495057;
}
#res-btn:hover{
	color:#ff6b24;
}
#res-btn a:hover{
	color:#ff6b24;
} */
.card-header{
	font-weight:600;
	text-align:center;
}
.card-body label{
	font-weight:600;
}
.card{
	min-height:160px;
	max-height:160px;
}