@charset "ISO-8859-1";
body{
	background:#ffffff;
}
*{
  margin:0px;
  padding:0px;
  font-family:sans-serif; 
}

.curved{
	bottom:0px;
	position:absolute;
	height:40%;
	width:100%;
}

.container.head-profile{
	left:350px;
	top:20px;
	position:absolute;
}
#line label{
	color:#000000;
	font-weight:600;
}