@charset "ISO-8859-1";
body{
	/* width: 100vw;
	height:100vh; */
	/* margin:0;
	overflow: hidden;
	font-family: sans-serif; */
	margin:0;
}
*{
	margin:0px;
	padding:0px;
	font-family: sans-serif;
}
.curved{
	/* background:#ffffff;
	color:#000000;
	text-align:center;
	margin-bottom:30px; */
	bottom:0px;
	position:absolute;
	height:40%;
	width:100%;
}
.curved svg{
	z-index:0;
}


h1{
	font-size:50px;
	position:absolute;
	top:50px;
	left:43%;
}
p{
	position:absolute;
	font-size:20px;
	top:100px;
	left:37%;
}

form{
	top:120px;
	left:30%;
	width:600px;
	position:absolute;
}
#line{
	text-align: left;
	margin-top: 20px;	
	margin-left:20px;
}
#line input{
	font-size:16px;
}

#btn{
	font-weight:bold;
	/* height: 50px;
	width: 160px; */
	font-size: 16px;
	color: rgb(29, 35, 39);
	background:rgb(0, 0, 0, 0);
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 20px;
	transition: .4s;
	z-index:1;
}
#btn a{
	font-size: 16px;
	text-decoration:none;
	color:rgb(29, 35, 39);
	background:rgba(76, 175, 80, 0.0);
}
#btn:hover{
	background:#FF5500;
}