@charset "ISO-8859-1";
body{
	/* width: 100vw;
	height:100vh; */
	/* margin:0;
	overflow: hidden;
	font-family: sans-serif; */
	margin:0;
}
*{
	margin:0px;
	padding:0px;
	font-family: sans-serif;
}

svg{
	display: block; 
	position: absolute; 
	width: 100%; 
	bottom: 0; 
	top: 70%
}

h1{
	font-size:50px;
	position:absolute;
	top:50px;
	left:43%;
}
p{
	position:absolute;
	font-size:20px;
	top:100px;
	left:37%;
}
form{
	top:30px;
	left:30px;
	width:600px;
	position:absolute;
}
#line{
	text-align: left;
	margin-top: 20px;	
	margin-left:20px;
}
#line input{
	font-size:16px;
}
#card{
	top:120px;
	width:670px;
	height:420px;
	left:30%;
}