@charset "ISO-8859-1";
body{
	margin:0;
}
*{
	margin:0px;
	padding:0px;
	font-family: sans-serif;
}

svg{
	display: block; 
	position: absolute; 
	width: 100%; 
	bottom: 0; 
	top: 70%
}

h1{
	font-size:50px;
	position:absolute;
	top:50px;
	left:43%;
}
p{
	position:absolute;
	font-size:20px;
	top:100px;
	left:37%;
}
form{
	top:30px;
	left:30px;
	width:600px;
	position:absolute;
}
#line{
	text-align: left;
	margin-top: 20px;	
	margin-left:20px;
}
#line input{
	font-size:16px;
}
#card{
	top:120px;
	width:670px;
	height:420px;
	left:30%;
}
#postBtn{
	border:1px solid #FF5500;
	color:#FF5500;
	background:#ffffff;
}
#postBtn:hover{
	background:#ff5500;
	color:#ffffff;
}
#postBtn a{
	color:#ff5500;
	text-decoration: none;
} 
#postBtn a:hover{
	color:#ffffff;
}
#confirmBtn{
	border:1px solid #FF5500;
	color:#FF5500;
	background:#ffffff;
}
#confirmBtn:hover{
	background:#ff5500;
	color:#ffffff;
}
#confirmBtntn a{
	color:#ff5500;
	text-decoration: none;
} 
#confirmBtn a:hover{
	color:#ffffff;
}