@charset "ISO-8859-1";
body{
	width: 100vw;
	height:100vh;
	margin:0;
	overflow: hidden;
	font-family: sans-serif;
}
.curved{
	background:#ffffff;
	color:#000000;
	text-align:center;
}

.curved svg{
	display:block;
}

p{
	position:absolute;
	font-size:20px;
	top:150px;
	left:37%;
}

.curved.upper{
	background:rgb(0,0,0,0);
	text-align:center;
}
form{
	top:150px;
	left:30%;
	width:600px;
	position:absolute;
}
#line{
	margin-top: 20px;	
}
#line input{
	font-size:16px;
}
.registerbtn{
	margin-top:25px;
	font-weight:bold;
	height: 50px;
	width: 160px;
	font-size: 16px;
	color: rgb(29, 35, 39);
	background:rgb(0, 0, 0, 0);
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 20px;
	transition: .4s;
	font-size: 18px;
}
.registerbtn a{
	font-size: 18px;
	text-decoration:none;
	color:rgb(29, 35, 39);
	background:rgba(76, 175, 80, 0.0);
}
.registerbtn:hover{
	background:#FF5500;
}

/* input{
	outline:none;
	background: none;
	color: black;
	font-size: 18px;
	width: 50%;
	margin: 8px 10px;
	padding:3px;
}
select{
	outline:none;
	background: none;
	color: black;
	font-size: 18px;
	width: 50%;
	margin: 8px 10px;
	padding:3px;
} */