@charset "ISO-8859-1";
body{
	background:#ffffff;
}
*{
  margin:0px;
  padding:0px;
  font-family:sans-serif; 
}
.curved{
	bottom:0px;
	position:absolute;
	height:40%;
	width:100%;
}

.container.head-profile{
	left:350px;
	top:20px;
	position:absolute;
}

#tab{
	top:100px;
	left:400px;
	position:absolute;
	width:500px;
}
.nav-tabs{
    margin-bottom:5%;
}
#myTab .nav-link{
    font-weight:600;
    color:#FF5500;
}
#myTab .nav-link.active{
	color:#495057;/* 
    border: none;
    border-bottom:2px solid #c65102; */
}
#del-btn{
	float:right;
	border: none;
    border-radius: 1.5rem;
    padding: 1%;
    font-weight: 600;
    color: #495057;
    cursor: pointer;
    transition:.4s;
}
#del-btn a{
	text-decoration: none;
	border: none;
	color:#495057;
}
#del-btn:hover{
	color:#ff6b24;
}
#del-btn a:hover{
	color:#ff6b24;
}
#line label{
	font-weight:600;
}