@charset "ISO-8859-1";
body{
	background:#ffffff;
}
*{
  margin:0px;
  padding:0px;
  font-family:sans-serif; 
}

#sidebar{
	position:fixed;
	width:200px;
	height:100%;
	background:#373d39;
	left: -200px;
	transition: .4s;
}

#sidebar.active {
	left:0px;
	background:#373d39;
}

#sidebar ul li {
	color:#ffffff;
	list-style:none;
	padding:15px 10px;
	/* border-bottom: 1px solid #FF5500; */
	
}
#sidebar ul li a{
	color:#ffffff;
	background:rgb(0,0,0,0);
	text-decoration:none;
}
#sidebar ul li:hover{
	background-color: #121413;
}
#sidebar ul li a:hover{
	background-color: #121413;
}

#sidebar .toggle-btn {
	position:absolute; 
	left:230px;
	top:60px; 
}

#sidebar .toggle-btn span {
	display:block;
	width:30px;
	height:5px;
	background: #000000;
	margin: 3px 0px;
}
.curved{
	bottom:0px;
	position:absolute;
	height:40%;
	width:100%;
}

.container.head-profile{
	left:350px;
	top:20px;
	position:absolute;
}

#tab{
	top:100px;
	left:400px;
	position:absolute;
}

.nav-tabs{
    margin-bottom:5%;
}
#tab .nav-tabs .nav-link{
    font-weight:600;
    border: none;
    color:#FF5500;
}
#tab .nav-tabs .nav-link.active{
	color:#495057;
    border: none;
    border-bottom:2px solid #c65102;
}

#del-btn{
	float:right;
	border: none;
    border-radius: 1.5rem;
    padding: 1%;
    font-weight: 600;
    color: #495057;
    cursor: pointer;
    transition:.4s;
}
#del-btn a{
	text-decoration: none;
	border: none;
	color:#495057;
}
#del-btn:hover{
	color:#ff6b24;
}
#del-btn a:hover{
	color:#ff6b24;
}
#line label{
	font-weight:600;
}