@charset "ISO-8859-1";
body{
}
#navbarSupportedContent .nav-item .nav-link.active{
	font-weight: 550;
}

#searchBtn{
	border:1px solid #FF5500;
	color:#FF5500;
	background:#ffffff;
}
#searchBtn:hover{
	background:#ff5500;
	color:#ffffff;
}
#searchBtn a{
	color:#ff5500;
	text-decoration: none;
} 
#searchBtn a:hover{
	color:#ffffff;
}
#line label{
	font-weight:600;
}