@charset "ISO-8859-1";
body{
	width: 100vw;
	height:100vh;
	margin:0;
	overflow: hidden;
	font-family: sans-serif;
}
.curved{
	background:#ffffff;
	color:#FF5500;
	text-align: center;
}
.curved h1{
	font-size: 6rem;
	margin-top:-30px;
	color:#000000;
}
.curved h3{
	font-size: 2rem;
	margin: 0 5rem 0 5rem;
	color:#000000;
}
.curved svg{
	display:block;
}
.curved.upper{
	background:#FF5500;
}
#btn{
	border:1px solid #FF5500;
	color:#FF5500;
	background:#ffffff;
}
#btn:hover{
	background:#ff5500;
	color:#ffffff;
}
#btn a{
	color:#ff5500;
	text-decoration: none;
} 
#btn a:hover{
	color:#ffffff;
}